<html lang="en-gb">
<%- include('_head') -%>
<%- include('_header') -%>

<body>
<h1>Posts</h1>
<div>
    <%if (previous) { %>
        <a href="<%= previous %>"> Previous </a>
    <% } %>
    <%if (next) { %>
        <a href="<%= next %>"> Next </a>
    <% }%>
</div>
<div class = "padding">
<ol>
    <% postList.results.forEach(function(post) {%>
        <li class="post_list_text">
            <%= post.message %>
            <img src="<%=post.imageUrl%>" class="post_list_image" alt="user image" width=300 height=300/>
            Posted by <a href="users/<%=post.postedBy.id %>"> <%= post.postedBy.name%> </a>
            (<%= post.postedBy.email %>)
        </li>
    <% }) %>
</ol>
</div>
</body>

<%- include('_footer') -%>
</html>


